export(registerDoMPI, startNWScluster, startMPIcluster, clusterSize, closeCluster)
S3method(clusterSize, nwscluster)
S3method(closeCluster, nwscluster)
S3method(clusterSize, mpicluster)
S3method(closeCluster, mpicluster)
import(foreach)
